body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: calc(100% - 200px); /* Adjust based on side-nav width */
    margin-left: 300px; /* Adjust based on side-nav width */
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
  }
  
  .container h1 {
    order: -1; /* Makes h1 appear before p */
  }
  




header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: left;
}

.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #333;
    color: #fff;
    width: 200px; /* Adjust width as needed */
    height: 100%; /* Extend to full height */
    padding: 20px;
    z-index: 1000; /* Ensure the side nav is above other content */
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-nav ul li {
    margin-bottom: 10px;
}

.side-nav ul li a {
    text-decoration: none;
    color: #fff;
}

.side-nav ul li a:hover {
    color: #ccc;
}

.menu-icon {
    display: none;
}

@media (max-width: 768px) {
    .side-nav {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .menu-icon .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #fff;
    }

    .menu-open .side-nav {
        display: block;
    }
    
}
