body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#left, #right {
    width: calc(50% - 10px); /* Adjust the width as needed */
}



header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #333;
    color: #fff;
    width: 200px; /* Adjust width as needed */
    height: 100%; /* Extend to full height */
    padding: 20px;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-nav ul li {
    margin-bottom: 10px;
}

.side-nav ul li a {
    text-decoration: none;
    color: #fff;
}

.side-nav ul li a:hover {
    color: #ccc;
}

.menu-icon {
    display: none;
}

@media (max-width: 768px) {
    .side-nav {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .menu-icon .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #fff;
    }

    .menu-open .side-nav {
        display: block;
    }
    
}
